<div class="container">
	<div class="row">
		<div class="col-sm-2"></div>
		<div class="col-sm-8">
			<h2>More about us</h2>
		</div>
		<div class="col-sm-2"></div>
		</div>
	<div class="row">
		<div class="col-sm-2"></div>
		<div class="col-sm-8 aboutusText">
			Heartcraft Furniture, Inc. is the largest manufacturer of furniture in the world. Established in 1945, Heartcraft offers one of the industry’s broadest product assortments to retail partners in 123 countries. From design, through fulfillment, Heartcraft continuously strives to provide you, our customer, with the best values, selection and service in the furniture industry.
		</div>
		<div class="col-sm-2"></div>
	</div>
</div>
