<!--SLIDER-->
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12">
				<div id="myCarousel" class="carousel slide" data-ride="carousel">
					<!-- Indicators -->
					<ol class="carousel-indicators">
						<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
						<li data-target="#myCarousel" data-slide-to="1"></li>
						<li data-target="#myCarousel" data-slide-to="2"></li>
					</ol>

					<!-- Wrapper for slides -->
					<div class="carousel-inner" role="listbox">
						<div class="item active">
							<img src="images/table2.jpg" alt="table" width="30%">
						</div>

						<div class="item">
							<img src="images/armario1.jpg" alt="closet" width="30%">
						</div>
	
						<div class="item">
							<img src="images/bookshelf2.jpg" alt="bookshelf" width="30%">
						</div>

					</div>

					<!-- Left and right controls -->
					<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
						<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
						<span class="sr-only">Previous</span>
					</a>
					<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
						<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</a>
				</div>
			</div>
		</div>
	</div>


	<div class="container-fluid footer-images">
		<span class="topProducts"><strong>TOP PRODUCTS</strong></span>
		<div class="row">
			<div class="col-lg-12">
				<a href="#/catalog/tables"><img src="images/table5.jpg" alt="closet" width="10%"></a>
				<a href="#/catalog/closets"><img src="images/armario5.jpg" alt="closet" width="10%"></a>			
				<a href="#/catalog/bookshelves"><img src="images/bookshelf5.jpg" alt="closet" width="10%"></a>
			</div>
			<div class="col-lg-12">			
				<a href="#/catalog/tables"><img src="images/table6.jpg" alt="closet" width="10%"></a>
				<a href="#/catalog/closets"><img src="images/armario6.jpg" alt="closet" width="10%"></a>		
				<a href="#/catalog/bookshelves"><img src="images/bookshelf6.jpg" alt="closet" width="10%"></a>					
			</div>			
		</div>
	</div>
