<section class="container" ng-controller="idViewController">
	<article class="furnitureBox" ng-repeat="furniture in items | filter: {id: id}:true" class="furnitureCatalog">
		<div class="furniture-box">
			<h2><strong>Name:</strong> {{furniture.name}}</h2>
			<img ng-src="{{furniture.image}}" class="furniture-image" alt="{{furniture.image}}"/>
		</div>
		<p><strong>Description:</strong> {{furniture.description}}</p>
		<p><strong>Price:</strong> {{furniture.price}} €</p>              
	</article>
</section>

